extends layout

block content
  h1.cover-heading Welcome to Pairletes.
  br
  p.lead Pairletes is a fitness matchmaking app. 
  p.lead We want to pair you up with your dream fitness partner!
  p.lead
  br
  a.btn.btn-lg.btn-default(href='#') Find a Match! 
  //Takes to person to LOGIN page
