doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
      
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
        //- console.log('loading script');
        //- var socket = io();
        //- console.log('connected');

        //- function send(){
        //-   console.log('send');
        //-   var message = document.getElementById('message');
        //-   socket.emit('message', message.value);
        //-   message.value = '';
        //- };

        //- socket.on('message', function(msg){
        //-   var messages = document.getElementById('messages');
        //-   var newText = document.createElement('li');
        //-   newText.innerHTML = msg;
        //-   messages.appendChild(newText);
        //- });

  body

    #content(width='50%', float='left')    
      block content

      
    //- #chatwindow(width='20%', float='right')
    //-   ul(id="messages")
    //-     li First Post!
      
    //-   form(action="", id='msgForm', onSubmit='return false;')
    //-       input(id="message" autocomplete="off")
    //-       button(type='button', onClick='send();') Send
